extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
        label(for='name') Category Name:
        br
        input#name.form-control(type='text', placeholder='New category name' name='name' value=(undefined===category ? '' : category.name))
    div.form-group        
        label(for='type') Category Type:
        br
        select#name.form-control(name='type')
            option(value="Bike") Bike
            option(value="Component") Component
            option(value="Accessory") Accessory
    div.form-group
        label(for='description') Description:
        br
        input#name.form-control(type='textarea', placeholder='Short description.' name='description' value=(undefined===category ? '' : category.description))
        br
        button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg