extends layout

block content
  h1 Welcome to #{title}

  h2 There are #{data.item_count} products in #{data.category_count} categories.

  hr

  h4 Classics

  p We are now in stock on Classics with a 1-2 week turnaround. 

  p We are only offering Imperfect framesets for now. See HERE.

  h4 Specials

  p We are sold out of our inventory.

  p Our next batch will arrive in April 2022 (delayed since last updated). We were hoping to ship sooner but delays in shipping from overseas are pushing things back. We will take pre-orders about a month before arrival.

  p New colors with be Glacier Green, a medium metallic green, and Basalt Gray, a very dark gray. Autumn Copper will not be offered in this next batch.

  h4 Lightnings

  p We are sold out of our inventory.

  p Our next batch will arrive in April 2022 (delayed since last updated). We were hoping to ship sooner but delays in shipping from overseas are pushing things back. We will take pre-orders about a month before arrival.

  p We will continue Pearl Black and Pearl White as the colors for early 2022.

  h4 Thunders

  p We are sold out of all of our inventory.

  p Our next batch will arrive in April 2022 (delayed since last updated). We were hoping to ship sooner but delays in shipping from overseas are pushing things back. We will take pre-orders about a month before arrival.

  p Colors are still TBD.

  h4 Wheels

  p We are out of stock on Wabi wheels for individual sale. We'll be limited on sales until early 2022 when get enough inventory for individual sale.

  p Components

  p Overall, we are offering what we can for individual sale. Otherwise, we are out of stock or holding inventory for future builds.

  h3 LEAD TIMES

  h4 Bike Builds

  p We are looking at 1-2 weeks.

  h4 Components

  p Most components should ship within 1-2 business days. If it appears to be longer, we will try to update you on the expected ship date.

  h3 INTERNATIONAL ORDERS

  p We are currently NOT shipping bikes internationally (except Canada) - only components.