extends layout

block content
    div.list
      h1= title

      each item in item_list
        div.list-item
          a(href=item.url) #{item.name}
          |  (#{item.stock===0 ? 'OUT OF STOCK' : item.stock + ' in stock'})

      else
        p There are no items.
    div.add
        form(action='/inventory/item/create')
            button.btn.btn-primary(type='submit') Add new item