extends layout

block content
    div.list
      h1= title

      each item in item_list
        div.list-item
          a(href=item.url) #{item.name}
          |  (#{item.category.name})

      else
        p There are no items.