doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      div.topNav
        div 
          a search
        p WE ARE OPEN. READ MORE ABOUT OUR CURRENT ORDERING STATUS AND INVENTORY BELOW
        div 
          a info
      ul 
        li 
          a ACCESSORIES
        li 
          a COMPONENTS
        li 
          a BIKES
        li.logo
          img(src='../images/wabi-logo.png')
    main 
      block content
