doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet')
    
  body
    nav 
      div.top-nav
        div 
          a 
            img(src='/images/prfl.png').prfl
        p WE ARE OPEN. READ MORE ABOUT OUR CURRENT ORDERING STATUS AND INVENTORY BELOW
        div 
          a 
            img(src='/images/mag.png').srch
      div.main-nav
        div.logo
          a(href='/inventory/')
            img(src='/images/wabi-logo.png')
        ul.nav
          li#about
            a#menu
              div.bar 
              div.bar
              div.bar 
          li.nav.menu-item 
            a(href='/inventory/category') ALL CATEGORIES
          li.nav.menu-item 
            a(href='/inventory/items') ALL ITEMS 
          li.nav.menu-item 
            a(href="/inventory/type/accessory") ACCESSORIES
          li.nav.menu-item 
            a(href="/inventory/type/component") COMPONENTS
          li.nav.menu-item 
            a(href="/inventory/type/bike") BIKES
    script(src='/javascripts/menus.js') 
    main.main
      block content

     
