doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet')
  body
    nav 
      div.topNav
        div 
          a 
            img(src='../images/prfl.png').prfl
        p WE ARE OPEN. READ MORE ABOUT OUR CURRENT ORDERING STATUS AND INVENTORY BELOW
        div 
          a 
            img(src='../images/mag.png').srch
      ul 
        li 
          a ACCESSORIES
        li 
          a COMPONENTS
        li 
          a BIKES
        li.logo
          img(src='../images/wabi-logo.png')
    main 
      block content
