doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      ul.topNav
        li 
          a search
        li 
          a info
      ul 
        li 
          a ACCESSORIES
        li 
          a COMPONENTS
        li 
          a BIKES
        li.logo
          img(src='../images/wabi-logo.png')
    main 
      block content
