body {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  background-color: rgb(248, 248, 248);
}

p{
  margin: 0;
  padding: 0;
}
main{
  padding: 50px ;
}

.logo, .logo a  {
  float: left;
  color: white;
  padding: 5px;
  margin-left: 30px

}

.logo img{
  max-width: 11em;

}
.srch, .prfl{
  max-width: 15px;
  cursor: pointer;
  padding-left:15px;
  padding-right:15px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  border-bottom: 1px solid #cf1e34;
}


.topNav {
  background-color: #cf1e34;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 5px;
  flex-grow: 8;
  justify-content: space-between;
}
.topNav p{
  font-size: 12px;
}
li.nav {
  float: right;
}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  cursor: pointer;
}

li.nav a:hover {
  color: #cf1e34;
}

.detail{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


@media (max-width: 950px) {
  .detail{
    padding: 25px;

  }
  
  li.nav a {
   font-size: 13px;
  }
}

@media (max-width: 600px) {

  .detail{
    padding: 5px;

  }
  .topNav p{
   display: none;
  }

  img{
    max-width: 7em;
  
  }
  li.nav a {
    padding: 10px;
  }
}